.btn {
	display : inline-block;	/* 인라인 블럭으로 사용 */
	text-decoration: none; /* 텍스트 줄 삭제 */
	font-weight : 400;	/* 글씨 굵기 설정 */
	text-align: center;	/* 좌우 위치를 센터로 지정 */
	white-space: nowrap;	/* 공백 문자를 병합하지만, 텍스트 줄바꿈(text wrapping)을 하지 않습니다 */
	vertical-align: middle;	/* 수직 정렬를  중간으로 설정(inline이나 inline-block 요소에만 사용이 가능) */
	-webkit-user-select: none;	/*  */
	-moz-user-select: none;	/*  */
	-ms-user-select: none;
	user-select: none;
	
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	color : #8EC7D0;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}